<strong style="font-size: 20px">
  Title:
</strong>
<p style="font-size: 20px">
  <%= @error.title %>
</p>
<strong style="font-size: 20px">
  Description:
</strong>
<p style="font-size: 20px">
  <%= @error.description %>
</p>
<strong style="font-size: 20px">
  Severity:
</strong>
<p style="font-size: 20px">
  <%= @error.severity %>
</p>